<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.patelfurniture">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Patel Furniture"
    android:theme="@style/Theme.PatelFurniture"
    tools:targetApi="31">

    <!-- WelcomePageActivity as the launcher activity -->
    <activity
        android:name=".WelcomePageActivity"
        android:exported="true"> <!-- Allow WelcomePageActivity to be exported -->
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

    <!-- Main Activity -->
    <activity
        android:name=".MainActivity"
        android:exported="true">
        <!-- No need to define the MAIN filter here as WelcomePageActivity has it -->
    </activity>

    <!-- About Us Activity -->
    <activity
        android:name=".AboutUsActivity"
        android:exported="false" />

    <!-- Products Activity -->
    <activity
        android:name=".ProductsActivity"
        android:exported="false" />

    <!-- Contact Us Activity -->
    <activity
        android:name=".ContactUsActivity"
        android:exported="false" />

</application>

    </manifest>
